<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WelcomeBlack</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="app-title-container">
        <img src="{% static 'images/logo.png' %}" alt="WelcomeBlack Logo">
        <span class="app-title">WelcomeBlack</span>
    </header>

    <main>
        <!-- Block to be overridden by child templates -->
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2024 WelcomeBlack. All rights reserved.</p>
    </footer>
</body>
</html>