<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Language</title>
</head>
<body>
    <h1>Select a Language to Learn</h1>
    <form method="get" action="{% url 'quiz_view' 'Twi' 'Easy' %}">
        <button type="submit">Learn Twi</button>
    </form>
    <form method="get" action="{% url 'quiz_view' 'Yoruba' 'Easy' %}">
        <button type="submit">Learn Yoruba</button>
    </form>
</body>
</html>
